.robo {
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.robo:hover {
    transform: scale(1.06);
    transition: 0.5s;
}

.width {
    max-width: 14rem;
    min-width: 14rem;
}